/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Abel|Acme|Archivo+Black|Playfair+Display|Righteous&display=swap');
/* Fin */

/* Globales */
html {
    scroll-behavior: smooth;    
}

body {
    background: #f2e6d9 !important;
    overflow-x: hidden; 
}

a {
    text-decoration: none !important;   
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tAptitudes h4 {
    margin-bottom: 1.2rem;
}

.margen2 {
    margin-bottom: 1.5rem !important;
}

@media (min-width: 576px) {
    .margen {
        margin-bottom: 1.5rem !important;
    }

    .tAptitudes h4 {
        margin-bottom: 1.8rem;
    }  
}

.progress {
    box-shadow: .2rem .2rem .2rem #808080;
}
/* Fin globales */

/* Imagen principal y retrato */
.pImagen {
    height: 30vh;
    object-fit: cover;
}

@media (max-width: 575px) {
    .imagen {
        height: 9rem;
    }
}

@media (min-width: 439px) and (max-width: 575px) {
    .pImagen {
        height: 40vh;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .pImagen {
        height: 50vh;
    }

    .imagen {
        height: 10.2rem;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .pImagen {
        height: 70vh;
    }

    .imagen {
        height: 11.5rem;
    }
}

@media (min-width: 1200px) {
    .pImagen {
        height: 100vh;
    }

    .imagen {
        height: 14rem;
    }
}
/* Fin imagen principal */

/* Botón para subir */
#btnSubir {
    display: none; 
    position: fixed; 
    bottom: .625rem; 
    right: .625rem; 
    z-index: 99; 
    opacity: 0.3;
    border: none; 
    outline: none; 
    background-color: #000000;
    color: white; 
    cursor: pointer; 
    padding: .625rem; 
    border-radius: .3125rem; 
    font-size: .625rem;
}    

@media (min-width: 992px) {
    #btnSubir:hover {
        opacity: 0.5;
    }
}
/* Fin botón subir */

/* Tamaño iconos y letra cuerpo*/
@media (max-width: 500px) {
    .oculto {
        display: none;        
    }   
}

.info {
    font-size: 1.2rem;
}

.cTitulo {
    font-size: 1.69rem;
}

.tPagina i {
    font-size: 1.5rem;
}

.ico-footer {
    font-size: 1rem;
}

.autor {
    font-size: 1.125rem;
}

@media (min-width: 451px) and (max-width: 650px) {
    #btnSubir {
        font-size: .8rem;
    }

    .info {
        font-size: 1.3rem;
    }
    
    .cTitulo {
        font-size: 1.8rem;
    }

    .tPagina i {
        font-size: 1.6rem;
    }

    .ico-footer {
        font-size: 1.1rem;
    }

    .autor {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 2.125rem;
    }
    
    h3 {
        font-size: 1.875rem;
    }
    
    h4 {
        font-size: 1.6875rem;
    }
}

@media (min-width: 651px) and (max-width: 770px) {
    #btnSubir {
        font-size: 1rem;
    }
    
    .info {
        font-size: 1.4rem;
    }
    
    .cTitulo {
        font-size: 1.9rem;
    }

    .tPagina i {
        font-size: 1.6rem;
    }

    .ico-footer {
        font-size: 1.25rem;
    }

    .autor {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 2.25rem;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    h4 {
        font-size: 1.8125rem;
    }
}

@media (min-width: 771px) and (max-width: 1199px) {
    #btnSubir {
        font-size: 1.1rem;
    }
    
    .info {
        font-size: 1.45rem;
    }
    
    .cTitulo {
        font-size: 2rem;
    }

    .tPagina i {
        font-size: 1.6rem;
    }

    .ico-footer {
        font-size: 1.3rem;
    }

    .autor {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 2.3125rem;
    }
    
    h3 {
        font-size: 2.0625rem;
    }
    
    h4 {
        font-size: 1.875rem;
    }
}

@media (min-width: 1200px) {
    #btnSubir {
        font-size: 1.2rem;
    }
    
    .info {
        font-size: 1.6rem;
    }
    
    .cTitulo {
        font-size: 2.1rem;
    }

    .tPagina i {
        font-size: 1.7rem;
    }

    .ico-footer {
        font-size: 1.5rem;
    }

    .autor {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 2.4375rem;
    }
    
    h3 {
        font-size: 2.1875rem;
    }
    
    h4 {
        font-size: 2rem;
    }
}
/* Fin tamaño iconos y letras */

/* Tarjetas */
/* Enlaces tarjeta */
.tEnlace {
    color: #39ac73;
}

.tEnlace:hover {
    color: #cc4400;
}

/* Imagen tarjeta */
.card {
    max-width: 569px !important;
    margin-bottom: 1.125rem;
    box-shadow: .25rem .25rem .25rem #808080;
}

.pCard {
    padding: 0 !important;
}
/* Fin */

/* Portada foto y nombre incrustado */
/* Título de portada, dentro de imagen */
.pTitulo {
    font-family: 'Abel', sans-serif;
    font-size: 2.25rem;
    font-weight: 900;
    color: white;
    text-shadow: .1875rem .1875rem .375rem grey;
    letter-spacing: .1875rem;  
} 

@media (min-width: 451px) and (max-width: 650px) {
    .pTitulo {
        letter-spacing: .1875rem;
        font-size: 2.5rem;
    }
}

@media (min-width: 651px) and (max-width: 770px) {
    .pTitulo {
        letter-spacing: .1875rem;
        font-size: 2.9rem;
    }
}

@media (min-width: 771px) and (max-width: 1199px) {
    .pTitulo {
        letter-spacing: .4375rem;
        font-size: 3.4rem;
    }
}

@media (min-width: 1200px) {
    .pTitulo {
        letter-spacing: .5625rem;
        font-size: 4rem;
    }   
}
/* Fin */

/* Títulos de secciones*/
.titulo, .tGrupo {
    display: inline-block;
    box-shadow: .3125rem .3125rem .3125rem #808080;
    padding: .625rem;  
}

.tGrupo {
    background: white;
}

.bDerecho {
    background: white;
}

/* Tipografías */
.titulo {
    font-family: 'Righteous', cursive;
    background: #ffffe6;
}

.tFooter {   
    font-family: 'Abel', sans-serif;
}

.tAptitudes {
    font-family: 'Acme', sans-serif;
}

.tPagina, .apt {
    font-family: 'Playfair Display', serif;
}

.entorno {
    font-family: 'Archivo Black', sans-serif;
    text-shadow: .125rem .125rem .25rem #808080;
}
/* Fin */