body {
    background: #f2e6d9 !important;
}

/* Quitar estilos enlaces y listas */
a, li {
    text-decoration: none;
    list-style: none;   
}

.pFin {
    margin-bottom: 0;
}

.tEnlace {
    color: #39ac73;
    text-decoration: none !important;
}

.tEnlace:hover {
    color: #cc4400;
}

.card {
    max-width: 569px !important;
    margin-bottom: 18px;
}

.pCard {
    padding: 0 !important;  
}
.pTitulo {
    font-family: 'Abel', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    text-shadow: 2px 2px 4px grey;
    letter-spacing: 8px;
} 

@media (max-width: 475px) {
    .pTitulo {
        letter-spacing: 0;
        font-size: 2rem;
    }
}

.pImagen {
    max-width: 1950px;
}

.iTitulo, .tTitulo, .fTitulo, .aTitulo, .proTitulo, .tGrupo {
    display: inline-block;
    background: white;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;  
}

@media (min-width: 1700px) {
    .tGrupo {
        display: block;
    }
}

.iTitulo, .tTitulo, .fTitulo, .aTitulo, .proTitulo {
    font-family: 'Righteous', cursive;
    background: #ffffe6;
}

.tFooter {   
    font-family: 'Abel', sans-serif;
}

.tAptitudes {
    font-family: 'Acme', sans-serif;
}

.bDerecho {
    background: white;
}

.tPagina {
    font-family: 'Playfair Display', serif;
}

.entorno {
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 2px 2px 4px grey;
}

.eGrupo {
    margin-bottom: 10px;
}

.li a > i {
    font-size: 30px;
}