html {
    scroll-behavior: smooth;
}

body {
    background: #f2e6d9 !important;
    overflow-x: hidden;   
}

/* Listas y enlaces */
/* Quitar estilos enlaces y listas */
a, li {
    text-decoration: none;
    list-style: none;   
}

/* Tamaño iconos */
.li a > i {
    font-size: 30px;
}
/* Fin */

/* Tarjetas */
/* Enlaces tarjeta */
.tEnlace {
    color: #39ac73;
    text-decoration: none !important;
}

.tEnlace:hover {
    color: #cc4400;
}

/* Imagen tarjeta */
.card {
    max-width: 569px !important;
    margin-bottom: 18px;
}

.pCard {
    padding: 0 !important;  
}
/* Fin */

/* Portada foto y nombre incrustado */
/* Título de portada, dentro de imagen */
.pTitulo {
    font-family: 'Abel', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    text-shadow: 2px 2px 4px grey;
    letter-spacing: 8px;  
} 

@media (max-width: 500px) {
    .pTitulo {
        letter-spacing: 0;
        font-size: 2rem;
    }
}

/* Imagen de portada, anchura máxima */
.pImagen {
    max-width: 2200px;
}
/* Fin */

/* Títulos de secciones*/
.titulo, .tGrupo {
    display: inline-block;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;  
}

.tGrupo {
    background: white;
}

.bDerecho {
    background: white;
}

/* Tipografías */
.titulo {
    font-family: 'Righteous', cursive;
    background: #ffffe6;
}

.tFooter {   
    font-family: 'Abel', sans-serif;
}

.tAptitudes {
    font-family: 'Acme', sans-serif;
}

.tPagina {
    font-family: 'Playfair Display', serif;
}

.entorno {
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 2px 2px 4px grey;
}
/* Fin */

/* Botón para subir */
#btnSubir {
    display: none; 
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    z-index: 99; 
    opacity: 0.3;
    border: none; 
    outline: none; 
    background-color: #000000;
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 10px;   
}    
   
#btnSubir:hover {
    opacity: 0.5;
}

@media (max-width: 992px) {
    #btnSubir:hover {
        opacity: 0.3;
    }
}
/* Fin */